<p id="notice"><%= notice %></p>

<h1>Listing Writters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writters.each do |writter| %>
      <tr>
        <td><%= writter.name %></td>
        <td><%= link_to 'Show', writter %></td>
        <td><%= link_to 'Edit', edit_writter_path(writter) %></td>
        <td><%= link_to 'Destroy', writter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Writter', new_writter_path %>
